{% macro question(réponse, type="str", erreur=None) -%}
  {% set id = range(10000) | random %}
  {%- if type == "number" and erreur is none %}
  {%- set erreur = 0 %}
  {%- endif %}
  <form class="form-group" onsubmit="return false;">
    <div class="input-group mb-3">
      <input
        {% if type == "number" %}
          type="number"
          value=0
          step="any"
        {% else %}
          type="text"
          placeholder="Réponse…" 
        {% endif %}
          class="form-control is-invalid" aria-label="Réponse…" aria-describedby="feedback-{{id}}" id="answer-{{id}}">
      <button class="btn btn-primary" type="submit" id="button-{{id}}" onclick='autocorrection_verifier("{{id}}", "{{type}}", "{{réponse}}", "{{erreur}}")'>Vérifier</button>
      <div class="invalid-feedback" id="feedback-{{id}}"></div>
    </div>
  </form>
{%- endmacro %}
