{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% if this.image %}
{% set image = site.get(this.url_to(this.image, absolute=True)) %}
{% endif %}

{% if this.author %}
{% set author = this.author %}
{% else %}
{% set author = config.PROJECT.author %}
{% endif %}

{% block morehead %}
  {{ super() }}
  {% if this.morehead %}
    {{ this.morehead }}
  {% endif %}
{% endblock %}

{% block opengraph %}
{% if this.description %}
  <meta name="description" content="{{ this.description }}" />
{% else %}
  <meta name="description" content="Site consacré à l'enseignement de la SNT" />
{% endif %}
<meta name="author" content="{{ author }}" />

<meta property="og:title" content="{{ this.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ this|url(external=true) }}" />
{% if image %}<meta property="og:image" content="{{ image|url(external=true) }}" />{% endif %}
{% if this.description %}<meta property="og:description" content="{{ this.description }}" />{% endif %}
<meta property="og:locale" content="{{ config.PROJECT.locale }}" />
<meta property="og:site_name" content="{{ config.PROJECT.name }}" />
{% if this.date %}<meta property="og:article:published_time" content="{{ this.date }}" />{% endif %}
<meta property="og:article:author" content="{{ author }}" />
{% for tag in this.tags -%}
  <meta property="og:article:tag" content="{{ tag|replace("_", " ")|capitalize }}" />
{% endfor %}

<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block body %}

{% if image %}
<header class="bg-image-full" style="background: url('{{ image.path|url }}') no-repeat center; background-size: 100%;">
  <div class="" style="height: 200px;"></div>
  <div class="row-fluid">
    <div class="col-sm-6 offset-sm-3">
      <p class="px-2" style="background-color: rgba(245, 245, 245, 0.8);">
      <a href="{% if image.url %}{{ image.url }}{% else %}{{ image|url }}{% endif %}">{{ image.title}}</a>,
      de
      {% if image.author_url %}<a href="{{ image.author_url }}">{{ image.author }}</a>{% else %}{{ image.author }}{% endif %},
      {% if image.license == "domaine public" %}
      dans le domaine public.
      {% elif image.license_url %}
      publié sous licence <a href="{{ image.license_url }}">{{ image.license }}</a>.
      {% else %}
      publié sous licence {{ image.license }}</a>.
      {% endif %}
      </p>
    </div>
  </div>
</header>
{% endif %}

<article>
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    <h1 class="mt-2">{{ this.title }}</h1>

    {% if this.toc %}
    <ul class="bg-light">
      {% for item in this.body.toc recursive %}
        {% if this.toc >= loop.depth %}
          <li>
            <a href="#{{ item.anchor }}">{{ item.title }}</a>
            {% if item.children %}
              <ul>
                {{ loop(item.children) }}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {{ this.body }}
  </div>
</div>
</article>

{% endblock %}
